<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(37, 37, 37)">
    <div>
        <div class="errorImg">
            <img src="../public/images/error.jpg" alt="">
        </div>
    </div>
</body>
</html>